div.movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div.movies div.film {
  width: 33%;
  margin-top: 3em;
  text-align: center;
  position: relative;
}

div.movies div.film img {
  width: 300px;
  top: 50%;
  position: relative;
}


div.movies div.film div.text_img {
    color: white;
    position: absolute;
    width: 300px;
    left: 20%;
    top: 60%;
    /**background: linear-gradient(360deg, #161616b9 36%, rgba(72,72,72, 0.23) 64%)**/
}